@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../iconfont/iconfont.woff2') format('woff2'), url('../iconfont/iconfont.woff') format('woff'), url('../iconfont/iconfont.ttf') format('truetype'), url('../iconfont/iconfont.svg#iconfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: serif, "Microsoft YaHei";
    margin: 20px;
}

header {
    width: 100%;
}

.cards {
    display: flex;
}

.caard {
    position: relative;
    width: calc(25% - 15px);
    height: 120px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
}

.card-all {
    background-color: #31b48d;
    /* background: url(../images/bg02.png) #25282e left top no-repeat; */
}

.card-active {
    background-color: #38a1f2;
}

.card-pending {
    background-color: #7538c7;
}

.card-closed {
    background-color: #3b67a4;
    margin-right: 0;
}

.icon {
    display: block;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    margin: 10px auto;
    -webkit-transition: font-size 0.25s linear, width 0.25s linear;
    -moz-transition: font-size 0.25s linear, width 0.25s linear;
    transition: font-size 0.25s linear, width 0.25s linear;
}

.cards .iconfont {
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: "iconfont" !important;
    color: white;
    font-style: normal;
    opacity: .3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}