@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../iconfont/iconfont.woff2') format('woff2'), url('../iconfont/iconfont.woff') format('woff'), url('../iconfont/iconfont.ttf') format('truetype'), url('../iconfont/iconfont.svg#iconfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    font-family: serif, "Microsoft YaHei";
}

header {
    width: 100%;
}

.cards {
    display: flex;
}

.card {
    position: relative;
    width: calc(25% - 15px);
    height: 120px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
}

.card-all {
    background-color: #31b48d;
}

.card-active {
    background-color: #38a1f2;
}

.card-pending {
    background-color: #7538c7;
}

.card-closed {
    margin-right: 0;
    background-color: #3b67a4;
}

.icon {
    display: block;
    font-size: 100px;
}

.cards .iconfont {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "iconfont" !important;
    font-style: normal;
    color: white;
    opacity: .3;
}

table .iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 20px;
    opacity: .3;
    color: #aaa;
}

table .icon-asc {
    color: #308DFE;
}

.card-status,
.card-number {
    margin: 20px;
}

.task {
    font-size: 14px;
}

.number {
    font-size: 32px;
    font-weight: 500;
}

.realtime {
    float: right;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
}

.percent {
    float: right;
    font-size: 32px;
    font-weight: 500;
}

h2 {
    margin: 20px 0 20px 0;
}

table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    font-size: 15px;
}

thead {
    border-bottom: 1px solid #DCDEE3;
    background: #EBECF0;
    color: #333;
}

thead th,
td {
    height: 50px;
    padding-left: 15px;
}

tbody {
    font-size: 15px;
}

td {
    border-bottom: 1px solid #DCDEE3;
}

tbody td:nth-child(1) {
    width: 24%;
}

tbody td:nth-child(2) {
    width: 50%;
}

tbody td:nth-child(3) {
    width: 10%;
}

tbody td:nth-child(4),
tbody td:nth-child(5) {
    width: 8%
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description:hover {
    display: block;
}

button {
    background: #ee706d;
    color: white;
    border: 0;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
}

.confirm-page {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.confirm-div {
    position: relative;
    width: 340px;
    height: 150px;
    top: 200px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.confirm-div .icon-cancle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-family: "iconfont" !important;
    color: black;
    font-style: normal;
}

.confirm-div .icon-attention {
    margin-left: 20px;
    font-size: 24px;
    font-family: "iconfont" !important;
    color: #F1C826;
    font-style: normal;
}

.attention {
    line-height: 24px;
    color: #333;
    font-size: 20px;
}

.attention-messege {
    padding: 30px 0 10px 0;
}

.confirm-messege {
    color: #666;
    margin: 10px 0 10px 55px;
    font-size: 14px;
}

.confirm-button {
    text-align: right;
    margin-right: 20px;
}

.confirm,
.cancel {
    border: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(145, 145, 145);
    border-bottom: 1px solid rgb(145, 145, 145);
    border-radius: 3px;
    padding: 5px 8px 5px 8px;
}

.confirm {
    color: white;
    background-color: #3050FE;
}

.cancel {
    color: black;
    background-color: white;
}